<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io Login Page</title>
</head>
<body>
    <header>
        <h1>Welcome to Car-App.io</h1>
        <nav class="header-links">
            <span>
                <a href="/">
                    <button class="header-btn">Home</button>
                </a>
            </span>
        </nav>
    </header>
    <main>
   <h2> Login</h2>
   <% if(error)  { %>
    <p style="color: red;"><%= error %></p>
   <% } %>
   <p>Please Enter Your Credentials to Login</p>
   <form action="/login" method="POST">
    <label>Username:
        <input type="text" name="username" id="">
    </label><br>
    <label>Password:
        <input type="password" name="password">
    </label><br>
    <input type="submit" value="Login">
</form>
</main>
<footer>
    <%- include('../partials/footer.ejs'); %>
</footer>
</body>
</html>