<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io Login Page</title>
</head>
<body>
   <h1>Car-App.io Login Page</h1>
   <% if(error)  { %>
    <p style="color: red;"><%= error %></p>
   <% } %>
   <p>Please Enter Your Credentials to Login</p>
   <form action="/login" method="POST">
    <label>Username:
        <input type="text" name="username" id="">
    </label><br>
    <label>Password:
        <input type="password" name="password">
    </label><br>
    <input type="submit" value="Login">
</form>
</body>
</html>