<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io Signup Page</title>
</head>
<body>
    <h1>Car-App.io Signup Page</h1>
    <p>Please Enter a Username and Password to join</p>
    <form action="/signup" method="POST">
    <label>Username
        <input type="text" name="username">
    </label><br>
    <label>Password
        <input type="password" name="password">
    </label><br>
    <input type="submit" value="Sign Up">
    </form>
</body>
</html>