<h1>Car-App.io</h1>
<nav class="header-links">
    <span>
        <a href="/">
            <button class="header-btn">Home</button>
        </a>
    </span>
    <span>
        <a href="/cars">
            <button class="header-btn">Cars</button>
        </a>
    </span>
    <span>
        <a href="/manufacturers">
            <button class="header-btn">Manufacturers</button>
        </a>
    </span>
    <span>
        <a href="/logout">
            <button class="header-btn">Logout</button>
        </a>
    </span>
</nav>