<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car-App <%= user.username %>'s Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome <%= user.username %></h1>
        <nav>
            <a href="/cars">Cars</a>
            <a href="/manufacturers">Manufacturers</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
</body>
</html>