<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <title>Car-App.io Create New Manufacturer</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <h1>Create New Manufacturer</h1>
        <form action="/manufacturers" method="POST">
            <input type="text" name="name" placeholder="Name"><br>
            <input type="Number" name="yearFounded" placeholder="Year Founded"><br>
            <input type="text" name="country" placeholder="Country"><br>
            <input type="text" name="image" placeholder="Image Link"><br>
            <input type="submit" value="Create Manufacturer">
        </form>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>